.assignedContainer {
    margin: 0 10px;
}

.assignedContainer h4 {
    line-height: 16px;
    padding: 0;
    margin: 0;
    font: bold 1.0em Geneva, Arial, Helvetica, sans-serif;
    color: #536e87;
}

.saved {
    font: 0.9em Geneva, Arial, Helvetica, sans-serif;
    color: red;
    float:left;
    margin-left: 10px;
}

.pm_users .rows {
    max-height: 18em;
    overflow: auto;
}

.pm_users .header  {
    border-bottom: 1px solid #6c87a1;
    margin-bottom: 5px;
    font-weight: bold;
}

.pm_users .footer  {
    border-top: 1px solid #6c87a1;
    padding-top: 5px;
    font-weight: bold;
}

.pm_users .user {
    width: 15em;
    float: left;
}

.pm_users .role {
    width: 11em;
    float: left;
}

.pm_users .booked, .pm_users .allotted, .pm_users .overrun, .pm_users .available, .pm_users .percentageUsed {
    width: 5em;
    float:left;
    text-align: right;
}

.pm_users .percentageUsed {
    width: 4em !important;
}

.pm_users .row {
    clear: both;
}

.pm_users .container:hover {
    background-color: #d1e5f9;
}

