<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:wicket>

<body>
<wicket:panel>

    <table class="navigator" cellpadding="0" cellspacing="1">

        <tr>
            <td class="hoverNavigator"><a wicket:id="first">&lt;&lt;</a></td>
            <td class="hoverNavigator"><a wicket:id="prev">&lt;</a></td>

            <td wicket:id="navigation" class="hoverNavigator page">
                <a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">5</span></a>
            </td>

            <td class="hoverNavigator"><a wicket:id="next">&gt;</a></td>
            <td class="hoverNavigator"><a wicket:id="last">&gt;&gt;</a></td>
        </tr>
    </table>

</wicket:panel>
</body>
</html>
