<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
      
	<bean id="eHourDataSource"
		class="org.apache.derby.jdbc.EmbeddedConnectionPoolDataSource"
		p:databaseName="ehourDb"
		p:createDatabase="create" />
            
	<!-- Derby database validator-->
	<bean id="dbValidator" class="net.rrm.ehour.init.DerbyDbValidator"
		init-method="checkDatabaseState">
		<property name="dataSource" ref="eHourDataSource" />
		<property name="version" value="0.8.3" />
		<property name="ddlFile" value="classpath:db/ddl-ehour-0.8.3.xml" />
		<property name="dmlFile" value="classpath:db/dml-ehour-0.8.3.xml" />
	</bean>            
</beans>
