.leftColumn {
    float: left;
    width: 48%;
    padding-left: 10px;
}

.rightColumn {
    float: right;
    width: 48%;
    padding-right: 10px;
}

.foldIcon {
    float: right;
    width: 32px;
    padding-right: 5%;
}

.filterContainer {
    margin-bottom: 5px
}

.filterContainer .value {
    float: left;
    width: 6em;
    text-align: right;
    padding-right: 1em;
}

.filterContainer .row {
    clear: both;
}

.toggleLabel {
    width: 40%;
    float: left;
}

.resetCriteria {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px
}
.byReport {
    float: left;
}

.quickSelection {
    width: 40em;
}

.fa-wrench {
    margin-left: 2px;
}
