.sysinfo {
    margin: 0 5px;
}

.sysinfo .row {
    clear: both;
}

.sysinfo .row .label {
    float: left;
    width: 7em;
}

.contentTable tr td:first-child {
    width: 25em;
    padding-right: 2em;
}

