<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="authorizationStrategyFactory" 
		class="net.rrm.ehour.ui.authorization.MetaDataRoleAuthorizationStrategyFactory" />

	<bean id="filterChainProxy"
		class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContextIntegrationFilter
			</value>
		</property>
	</bean>

	<bean id="authService" class="net.rrm.ehour.ui.authorization.AuthService">
		<property name="userService" ref="userService" />
	</bean>


	<bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
		<property name="forceEagerSessionCreation" value="true" />
	</bean>

	
	 <bean id="initialDirContextFactory"
            class="org.acegisecurity.ldap.DefaultInitialDirContextFactory">
      <constructor-arg value="ldap://${__ldap.host}:${__ldap.port}/${__ldap.basedn}"/>
      <property name="managerDn"  value="${__ldap.manager.cn}" />
      <property name="managerPassword" value="${__ldap.manager.pass}" />
    </bean>

    <bean id="userSearch"
            class="org.acegisecurity.ldap.search.FilterBasedLdapUserSearch">
      <constructor-arg index="0">
        <value></value>
      </constructor-arg>
      <constructor-arg index="1">
        <value>(${__ldap.userDnPattern})</value>
      </constructor-arg>
      <constructor-arg index="2">
        <ref local="initialDirContextFactory" />
      </constructor-arg>
      <property name="searchSubtree">
        <value>true</value>
      </property>
    </bean>


	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">
            <list>
                <ref local="ldapAuthenticationProvider"/>
            </list>
        </property>
    </bean>
     <!-- Authentication provider for authentication via LDAP. -->
    <bean id="ldapAuthenticationProvider" class="net.rrm.ehour.ui.authorization.security.ldap.EhourLdapAuthenticationProvider">
        <constructor-arg>
            <bean class="org.acegisecurity.providers.ldap.authenticator.BindAuthenticator">
           <constructor-arg><ref local="initialDirContextFactory"/></constructor-arg>
           <property name="userDnPatterns"><list><value>${__ldap.userDnPattern}</value></list></property>
       	 </bean>
        </constructor-arg>
        
        <property name="authService" ref="authService" />

    </bean>
     
   
	<bean id="passwordEncoder"
		class="org.acegisecurity.providers.encoding.ShaPasswordEncoder" />

	<bean id="saltSource" class="org.acegisecurity.providers.dao.salt.ReflectionSaltSource">
		<property name="userPropertyToUse" value="getSalt" />
	</bean>
	
     <!-- =================================================
       ====================== LDAP Template Integration            ========
       ===================================================== -->

   <bean class="org.springframework.ldap.support.LdapContextSource"
       id="contextSource">
       <property name="url" value="ldap://${__ldap.host}:${__ldap.port}" />
       <property name="userName" value="${__ldap.manager.cn_1}" />
       <property name="password" value="${__ldap.manager.pass}" />
       <property name="base" value="${__ldap.basedn}" />
   </bean>
   <bean class="org.springframework.ldap.LdapTemplate"
       id="ldapTemplate">
       <constructor-arg ref="contextSource" />
   </bean>
   <bean class="net.rrm.ehour.ldap.dao.LDAPUserDaoImpl" id="ldapUserDao">
       <property name="ldapTemplate" ref="ldapTemplate" />
       <property name="ldapUserDnPattern" value="${__ldap.userDnPattern_1}" />
   </bean>
   
   
     <!-- Read LDAP properties from a file. -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="placeholderPrefix" value="${__"/>
        <property name="location" value="classpath:ldap.properties"/>
    </bean>	
</beans>