.assignmentList {
    width: 37.5em !important;
    min-width: 37.5em !important;
    max-width: 37.5em !important;
    height: 15em !important;
}

.assignmentList .name {
    width: 12em;
    float: left;
}

#allUsers .name, #affectedUsers .name {
    width: 17em !important;
}

.assignmentList .role {
    width: 8em;
    float: left;
}

.assignmentList .date {
    width: 10em;
    float: left;
}

.assignmentList .rate {
    width: 5em;
    float: left;
}

.foldIcon {
    float: right;
    width: 10%;
    padding-right: 1.2em;
}

.filter {
    margin-bottom: 10px;
}

.assignedContainer {
    margin: 0 0 15px 0;
}

.assignedContainer h4 {
    line-height: 16px;
    padding: 0;
    margin: 0;
    font: bold 1.0em Geneva, Arial, Helvetica, sans-serif;
    color: #536e87;
    border-bottom: 1px solid white;
}

.affectedContainer {
    margin: 12px 0 0 8px;
}

.affectedUserHeader {
    border-color: #d9d9d9 !important;
}

.transparentBackground {
    background: transparent !important;
}

