.userList {
    width: 17.5em !important;
    min-width: 17.5em !important;
    max-width: 17.5em !important;
    height: 15em !important;
}

.userList .selected, .userList .row:hover, .assignmentList .selected, .assignmentList .row:hover {
    background-color: #d1e5f9;
}

.userList .row:hover, .assignmentList .row:hover {
    cursor: pointer;
}

.assignmentList {
    width: 38em !important;
    min-width: 38em !important;
    max-width: 38em !important;
    height: 15em !important;
}

.assignmentList .name {
    width: 14em;
    float: left;
}

#allUsers .name, #affectedUsers .name {
    width: 17em !important;
}

.assignmentList .role {
    width: 6em;
    float: left;
}

.assignmentList .date {
    width: 6em;
    float: left;
}

.assignmentList .dateInput {
    width: 5em !important;
}

.assignmentList .rate {
    width: 4em;
    float: left;
}

.assignmentList .rateInput {
    width: 3em !important;
}

.foldIcon {
    float: right;
    width: 10%;
    padding-right: 1.2em;
}

.filter {
    margin-bottom: 10px;
}

.assignedContainer {
    margin: 20px 0 15px 0;
}

.assignedContainer h4 {
    line-height: 16px;
    padding: 0;
    margin: 0;
    font: bold 1.0em Geneva, Arial, Helvetica, sans-serif;
    color: #536e87;
    border-bottom: 1px solid white;
}


