.formLabel {
    width: 15em;
    float: left;
}

.leftColumn {
    width: 500px;
}

.affectedUsersList {
    width: 37.5em !important;
    max-width: 37.5em !important;
}

.projectHeader th {
    border-bottom: 1px solid #b3c0cb;
}

