<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="eHourDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
            p:driverClassName="com.mysql.jdbc.Driver" p:url="jdbc:mysql://192.168.1.35/ehour_08?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true" 
            p:username="ehourdev" p:password="ehourdev"/>
</beans>
