<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
					       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<jee:jndi-lookup id="eHourDataSource"
					 jndi-name="jdbc/eHourDS"
					 resource-ref="false" />	

	<!-- Derby database validator-->
	<bean id="dbValidator" class="net.rrm.ehour.init.DerbyDbValidator"
		init-method="checkDatabaseState">
		<property name="dataSource" ref="eHourDataSource" />
		<property name="version" value="0.8.0" />
		<property name="ddlFile" value="classpath:db/ddl-ehour-0.8.0.xml" />
		<property name="dmlFile" value="classpath:db/dml-ehour-0.8.0.xml" />
	</bean>
</beans>
