<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>eHour</display-name>

	<context-param>
	  <param-name>configuration</param-name>
	  <param-value>development</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>EhourWebApplication</servlet-name>
		<servlet-class>
			wicket.protocol.http.WicketServlet
		</servlet-class>
		
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				net.rrm.ehour.ui.EhourWebApplication
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>EhourWebApplication</servlet-name>
		<url-pattern>/eh/*</url-pattern>
	</servlet-mapping>
</web-app>
