<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="eHourDataSource"
		class="org.apache.derby.jdbc.EmbeddedConnectionPoolDataSource">
		<property name="databaseName" value="c:/ehourDb" />
		<property name="createDatabase" value="create" />
	</bean>

	<!-- Derby database validator-->
	<bean id="dbValidator" class="net.rrm.ehour.dao.derby.DbValidator"
		init-method="checkDatabaseState">
		<property name="dataSource" ref="eHourDataSource" />
		<property name="version" value="0.7.2" />
		<property name="ddlFile" value="classpath:db/ddl-ehour-0.7.2.xml" />
		<property name="dmlFileNew" value="classpath:db/dml_new/dml-ehour-0.7.2.xml" />
		<property name="dmlFileUpgrade" value="classpath:db/dml_upgrade_0.7/dml-ehour-0.7.2.xml" />
	</bean>
</beans>
