div.MonthAggregateTable
{
	padding: 0 1em 0 8px;
	margin: 0;
	
}

div.MonthAggregateTable div.AggregateHeader
{
	font:  bold 1em/1em Geneva, Arial, Helvetica, sans-serif;		
	color: #3b556d;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-color:  #e8e8e8;
	border-bottom-style: solid;
	padding-bottom: 1px;
	margin-bottom: 3px;
	height: 1em !important;
	min-height: 1em;
}

div.MonthAggregateTable div.AggregateRow
{
	font:  1em/1em Geneva, Arial, Helvetica, sans-serif;		
	color: #3b556d;
	clear: both;
}

div.MonthAggregateTable div.SummaryRow
{
	font:  0.8em/1.2em Geneva, Arial, Helvetica, sans-serif;		
	color: #999999;
	clear: both;
}

div.MonthAggregateTable div.TotalRow
{
	
	border-top-width: 1px;
	border-top-color:  #e8e8e8;
	border-top-style: solid;
	clear:both;
	font:  bold 1em/1em Geneva, Arial, Helvetica, sans-serif;		
	color: #3b556d;
	padding-top: 2x;
	padding-bottom: 5px;
	
}

.foldCell
{
	width: 16px;
	height: 1em;
	float: 	left;
	margin: 1px;
	padding-top: 1px;
}

.textCell
{
	height: 1em;
	width: 15%;
	float: left;
	padding-right: 5px;
	margin: 1px;
	line-height: 1;
}

.numbCell
{
	height: 1em;
	width: 10%;
	text-align: right;
	float: left;
	padding-right: 5px;
}

.MonthOverviewIEWorkAround
{
	margin: -15px 0 0 0;
	padding: 0;
}

.MonthOverviewMonthTable
{
}

.MonthOverviewMonthTable td
{
	color:	#536e87;
	height:	18px;
	width: 90px;
	border-right-style: solid;
	border-right-color:#a1bcd7;
	border-right-width: 1px;
}
	
.MonthOverviewMonthTable tr.weekColumnRow
{
}

.MonthOverviewMonthTable tr.weekColumnRow td
{
	font:  1.3em/1.3 Geneva, Arial, Helvetica, sans-serif;	
	color: #536e87;
	padding: 0 0 0 3px;
	margin: 0;
}

.MonthOverviewMonthTable tr.weekColumnRow td.lastChild
{
	border: 0;
}

.MonthOverviewMonthTable tr.weekColumnRow td.weekNumber
{
	width: 50px;
	border: 0;
}

.MonthOverviewMonthTable tr.dateRow
{
	border: 0;
}

.MonthOverviewMonthTable tr.dateRow td
{
	font:  0.8em/0.8 Geneva, Arial, Helvetica, sans-serif;	
	text-align:	right;
	margin: 0;
	padding: 0 0 2px 0;
	vertical-align: bottom;
}


.MonthOverviewMonthTable tr.dateRow td.lastChild
{
	border-right-width: 0;
}


.MonthOverviewMonthTable tr.dateRow td.noMonth
{
	border: 0;
}


.MonthOverviewMonthTable tr.dateRow td.weekNumber
{
	border-width: 0;
	width: 50px;
}


.MonthOverviewMonthTable tr.hourRow
{
}

.MonthOverviewMonthTable tr.hourRow td
{
	height: 45px;
	font:  0.8em/1 Geneva, Arial, Helvetica, sans-serif;	
	text-align:	left;
	vertical-align: top;
	background-color: #fefeff;
	border-bottom-style: solid;
	border-bottom-color:#a1bcd7;
	border-bottom-width: 1px;
	width: inherit;
}

.MonthOverviewMonthTable tr.hourRow td.weekNumber
{
	background-color: transparent;
	vertical-align: bottom;
	font:  0.9em/1 Geneva, Arial, Helvetica, sans-serif;	
	padding: 0 0 2px 5px;
	width: 55px;
	border-right-width: 0;
}

.MonthOverviewMonthTable tr.hourRow td.sunday
{
	background-color: transparent;
	background: url(../monthoverview/img/sunday_back.gif) left top no-repeat;
}

.MonthOverviewMonthTable tr.hourRow td.saturday
{
	background-color: transparent;
	background: url(../monthoverview/img/saturday_back.gif) right top no-repeat;
	border-right-width: 0;
}


.MonthOverviewTable hourContentTable td
{
	border: 0;
}

.MonthOverviewMonthTable tr.hourRow td.noMonthBefore
{
	background-color: transparent;
	border-bottom-style: solid;
	border-bottom-color:#a1bcd7;
	border-bottom-width: 1px;
}

.MonthOverviewMonthTable tr.hourRow td.noMonthAfter
{
	background-color: transparent;
	border: 0;
}

.bookedHours
{
	overflow:	hidden;
	margin: 0 0 2px 2px;
	padding: 0;
	font-size: 1.1em;	
}

.bookedHourValue
{
	font-weight: bold;
	float: 	right;
	margin: -1em 2px 0 0;
}