A:link
{
	text-decoration: none;
	color: #660000;
}

A:active
{
	text-decoration: underline;
	color: #FF0000;
}

A:visited
{
	text-decoration: none;
	color: #660000;
}

A:hover
{
	text-decoration: none;
	color: #FF0000;
}

BODY
{
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 8pt;
	background-color: white;
	line-height: 1.1;
	color: black;
	margin: 0;
	border: 0;
}

#content
{
	position: absolute;
	top: 45px;
	left: 155px;
	z-index: 10;
}

H1
{
	font: bold 10pt/10pt Verdana;
	color: #220000;
	margin-bottom: 0em;
	margin-top: 0em;
}

H3
{
	font: bold 8pt Verdana;
	color: #220000;
	margin-bottom: 2px;
	margin-top: 0em;
}

.contentTable
{
	padding: 0px;
	margin: 0px;
	spacing: 0px;
}

.contentTable TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.contentTable TD
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 8pt;
	color: #220000;
}

.normtxt
{
	font-family: Verdana;
	font-size: 7pt;
	color: #220000;
	BORDER: #220000 1px solid;
	background-color: white;
	padding: 1px;
	margin: 0px;
}

.greyText
{
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 8pt;
	color: #AAAAAA;
}

.login_table
{
	background-color:  white;
	padding: 0px;
	margin: 0px;
	BORDER: #660000 1px solid;
}

.login_table TD
{
	border: 0px;
	padding-left: 10px;
	padding-height: 0px;
	margin: 0px;
	text-align: center;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-style: normal;
	color: white;
	background-color: #913023;
}

.login_table TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}


#login
{
	position: absolute;
	top: 45px;
	left: 50px;
	z-index: 10;
}

.loginSubmit
{
	background-color: #913023;
	border:  #660000 0px solid;
	font-family: Verdana;
	font-size: 7pt;
	color: white;
	padding: 0pt;
	margin: 0px;
}

.redSubmit
{
	background-color: white;
	border:  #660000 0px solid;
	font-family: Verdana;
	font-size: 7pt;
    font-weight:bold;
	color: #913023;
	padding: 0pt;
	margin: 0px;
}

.redSubmit:hover
{
	background-color: white;
	border:  #660000 0px solid;
	font-family: Verdana;
	font-size: 7pt;
    font-weight:bold;
	color: #ff0000;
	padding: 0pt;
	margin: 0px;
	cursor: pointer;
	cursor: hand;
}

.admin_nav_table
{
	background-color:  #white;
	padding: 0px;
	margin: 0px;
	BORDER: #913023 1px solid;
	width: 120px;
}

.admin_nav_table TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.admin_nav_table TD
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	    margin-left: 5px;
	    margin-right: 5px;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-style: normal;
	color: #220000;
	vertical-align: top;
}

.admin_nav_table TD A:link
{
	text-decoration: none;
	color: #913023;
}

.admin_nav_table TD A:active
{
	text-decoration: underline;
	color: #FF0000;
}

.admin_nav_table TD A:visited
{
	text-decoration: none;
	color: #913023;
}

.admin_nav_table TD A:hover
{
	text-decoration: none;
	color: #FF0000;
}
