.cal_table
{
	background-color:  white;
	padding: 0px;
	margin: 0px;
	BORDER: #660000 1px solid;
    border-bottom: 0px;
}

.cal_table TH
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-style: normal;
	color: white;
	background-color: #913023;
}

.cal_table TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}


.cal_projCell
{
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 8pt;
	color: #660000;
	text-align: left;
	border-bottom: #660000 1px solid;
	border-right: #660000 1px solid;
}

.cal_dataCell
{
	border: 0px;
	padding: 3px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 8pt;
	color: #220000;
	border-right: #660000 1px solid;
	border-bottom: #660000 1px solid;
	width: 16px;
}

.dataEntry
{
	font-family: Verdana;
	font-size: 7pt;
	color: black;
	BORDER: #AA0000 1px solid;
	background-color: white;
	padding: 0px;
	margin: 0px;
	width: 32px;
}
