mee.overview_table
{
	background-color:  white;
	padding: 0px;
	margin: 0px;
}

.overview_table TH
{
	padding: 0px;
	padding-left: 2px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-style: bold;
	color: white;
	background-color: #913023;
	width: 16px;
	border: #660000 1px solid;
	border-width: 0px 1px 1px 0px;
}

.overview_notThisMonth
{
	padding: 0px;
	padding-left: 2px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-weight: bold;
	color: white;
	background-color: #cccccc;
	width: 16px;
	border: #660000 1px solid;
	border-width: 0px 1px 1px 0px;
}

.overview_headerFirst
{
	padding: 0px;
	padding-left: 2px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-weight: bold;
	color: white;
	background-color: #913023;
	width: 16px;
	border: #660000 1px solid;
	border-width: 1px 1px 1px 0px;
}

.overview_notThisMonthFirst
{
	padding: 0px;
	padding-left: 2px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	font-weight: bold;
	color: white;
	background-color: #cccccc;
	width: 16px;
	border: #660000 1px solid;
	border-width: 1px 1px 1px 0px;
}

.overview_data
{
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	color: #220000;
	text-align: left;
	border: #660000 1px solid;
	border-width: 0px 1px 1px 0px;
}


.overview_unbordered
{
	padding: 0px;
	padding-left: 1px;
	padding-right: 1px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	color: #220000;
	text-align: left;
	border: #660000 1px solid;
	border-width: 0px 0px 1px 0px;
}


.overview_daydata
{
	padding: 0px;
	margin: 0px;
	spacing: 0px;
}

.overview_daydata TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 7pt;
	color: #220000;
}

.overview_daydata TD
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.overview_daydata_TR_highlight
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #aaaaaa;
	color: #ffffff;
}
