<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       					   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"	
       default-autowire="byName">

	<!-- session scope beans 
	<bean id="configWrapper" 
			class="net.rrm.ehour.config.EhourConfigWrapper"
			scope="session">
		<constructor-arg><ref bean="ehourConfig" /></constructor-arg>
	</bean>
-->

	<!-- struts actions -->
	<bean name="/eh/index" class="net.rrm.ehour.web.action.EntranceAction" />	
	
	<bean name="/eh/timesheet/overview" class="net.rrm.ehour.web.timesheet.action.TimesheetOverviewAction">
		<property name="config" ref="ehourConfig" />
	</bean>	
	
	<bean name="/eh/timesheet/overviewSnippet" class="net.rrm.ehour.web.timesheet.action.TimesheetOverviewAction">
		<property name="config" ref="ehourConfig" />
	</bean>
	
	<bean name="/eh/timesheet/getTimesheetForm" class="net.rrm.ehour.web.timesheet.action.GetTimesheetFormAction" />

	<bean name="/eh/timesheet/viewTimesheet" class="net.rrm.ehour.web.timesheet.action.GetTimesheetFormAction">
		<property name="config" ref="ehourConfig" />
	</bean>
	
	<bean name="/eh/timesheet/postTimesheet" class="net.rrm.ehour.web.timesheet.action.PostTimesheetFormAction" />	
	
	<bean name="/eh/timesheet/printTimesheet" class="net.rrm.ehour.web.timesheet.action.PrintTimesheetAction" />		
	
	<bean name="/eh/userReport/index" class="net.rrm.ehour.web.userreport.action.UserReportCriteriaAction">	
		<property name="reportCriteria" ref="reportCriteria" />
	</bean>

	<bean name="/eh/userReport/projectReport" class="net.rrm.ehour.web.report.action.CreateReportAction">	
		<property name="reportCriteria" ref="reportCriteria" />
		<property name="reportService" ref="reportService" />
		<property name="config" ref="ehourConfig" />
	</bean>

	<bean name="/eh/userReport/projectChartTotalHours" class="net.rrm.ehour.web.userreport.action.ProjectReportTotalHoursChartAction" />
	
	<bean name="/eh/userReport/projectChartTotalTurnOver" class="net.rrm.ehour.web.userreport.action.ProjectReportTotalTurnOverChartAction" />

	<bean name="/eh/userReport/projectReportPerWeekChart" class="net.rrm.ehour.web.userreport.action.ProjectReportOverviewChartAction" />	
		
	<bean name="/eh/cal/navCalendar" class="net.rrm.ehour.web.calendar.GetNavCalendarAction" />	
	
	<bean name="/eh/logOff" class="net.rrm.ehour.web.action.LogOffAction" />	
	
</beans>