<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- @todo use spring 2.0 aop -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://192.168.1.10/ehour</value>
		</property>
		<property name="username">
			<value>test</value>
		</property>
		<property name="password">
			<value>me</value>
		</property>
	</bean>

	<!-- Session factory definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/mapping/</value>
				<value>classpath:/query/</value>
				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="show_sql">false</prop>
				<prop key="use_outer_join">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
		        <prop key="net.sf.ehcache.configurationResourceName">ehcache-2.xml</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>


	<!-- Template class  -->
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!--  UserDAO -->
	<bean id="userDAO" class="net.rrm.ehour.user.dao.UserDAOHibernateImpl">	
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<!-- Timesheet DAO -->
	<bean id="timesheetDAO" class="net.rrm.ehour.timesheet.dao.TimesheetDAOHibernateImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<!-- Report DAO -->
	<bean id="reportDAO" class="net.rrm.ehour.report.dao.ReportDAOHibernateImpl">		
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<!-- User department DAO -->
	<bean id="userDepartmentDAO" class="net.rrm.ehour.user.dao.UserDepartmentDAOHibernateImpl">		
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>


</beans>