<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!--  struts actions -->
	<bean name="/eh/report/index" class="net.rrm.ehour.web.report.action.ReportCriteriaAction">
		<property name="reportCriteria" ref="reportCriteria" />
	</bean>

	<bean name="/eh/report/updateCriteria" class="net.rrm.ehour.web.report.action.ReportCriteriaAction">
		<property name="reportCriteria" ref="reportCriteria" />
	</bean>

	<bean name="/eh/report/createReport" class="net.rrm.ehour.web.report.action.CreateAggregateReportAction">
		<property name="reportService" ref="reportService" />
		<property name="reportCriteria" ref="reportCriteria" />		
	</bean>
</beans>