<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName">

	<!-- the transactional advice  -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- the transactional semantics... -->
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="persist*" propagation="REQUIRED" rollback-for="net.rrm.ehour.exception.ObjectNotUniqueException,net.rrm.ehour.exception.ParentChildConstraintException" />
			<tx:method name="delete*" propagation="REQUIRED" />			
			<tx:method name="assign*" propagation="REQUIRED" />						
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* net.rrm.ehour.*.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>
	
	<!-- User service -->
	<bean id="userService" class="net.rrm.ehour.user.service.UserServiceImpl" />

	<bean id="calendarUtil"
		class="net.rrm.ehour.web.calendar.CalendarUtil">
		<property name="timesheetService" ref="timesheetService" />
	</bean>

<!--
	<util:properties id="ehourPropertiesConfig" location="classpath:/ehourConfig.properties" />


	<bean id="ehourConfig" class="net.rrm.ehour.config.EhourConfigProps">
		<property name="propertiesConfig" ref="ehourPropertiesConfig" />
	</bean>
-->
	<bean id="ehourConfig" class="net.rrm.ehour.config.EhourConfigJdbc">
		<constructor-arg><ref bean="eHourDataSource" /></constructor-arg>
		<constructor-arg value="CONFIGURATION" />
		<constructor-arg value="config_key" />		
		<constructor-arg value="config_value" />		
	</bean>

	<!-- Report service -->
	<bean id="reportService" class="net.rrm.ehour.report.service.ReportServiceImpl" />

	<!-- Timesheet service -->
	<bean id="timesheetService" class="net.rrm.ehour.timesheet.service.TimesheetServiceImpl" />

	<!-- Project service -->
	<bean id="projectService" class="net.rrm.ehour.project.service.ProjectServiceImpl" />
	
	<!-- Customer service -->
	<bean id="customerService" class="net.rrm.ehour.customer.service.CustomerServiceImpl" />

	<!-- Avai -->
	<bean id="reportCriteria"
			class="net.rrm.ehour.report.criteria.ReportCriteria"
			scope="session"
			init-method="initialize">
		<aop:scoped-proxy/>			
	</bean>
	
</beans>