<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"       
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"	
       default-autowire="byName">

	<!--  struts actions -->
	<bean name="/eh/admin/index" class="net.rrm.ehour.web.admin.action.AdminEntryAction" />		
	
	<bean name="/eh/admin/dept/index" class="net.rrm.ehour.web.admin.dept.action.ListUserDepartmentsAction" />			

	<bean name="/eh/admin/dept/getUserDepartment" class="net.rrm.ehour.web.admin.dept.action.GetUserDepartmentAction" />				

	<bean name="/eh/admin/dept/editUserDepartment" class="net.rrm.ehour.web.admin.dept.action.EditUserDepartmentAction" />					
	
	<bean name="/eh/admin/dept/deleteUserDepartment" class="net.rrm.ehour.web.admin.dept.action.DeleteUserDepartmentAction" />
	
	<bean name="/eh/admin/customer/index" class="net.rrm.ehour.web.admin.customer.action.ListCustomersAction" />
	
	<bean name="/eh/admin/customer/getCustomer" class="net.rrm.ehour.web.admin.customer.action.GetCustomerAction" />
	
	<bean name="/eh/admin/customer/editCustomer" class="net.rrm.ehour.web.admin.customer.action.EditCustomerAction" />
	
	<bean name="/eh/admin/customer/deleteCustomer" class="net.rrm.ehour.web.admin.customer.action.DeleteCustomerAction" />			

	<bean name="/eh/admin/user/index" class="net.rrm.ehour.web.admin.user.action.ListUsersAction" />
	
	<bean name="/eh/admin/user/addUserForm" class="net.rrm.ehour.web.admin.user.action.GetUserAction" />
	
	<bean name="/eh/admin/user/getUser" class="net.rrm.ehour.web.admin.user.action.GetUserAction" />
	
	<bean name="/eh/admin/user/editUser" class="net.rrm.ehour.web.admin.user.action.EditUserAction" />
	
	<bean name="/eh/admin/user/userExistsCheck" class="net.rrm.ehour.web.admin.user.action.UserExistsAction" />
	
	<bean name="/eh/admin/user/deleteUser" class="net.rrm.ehour.web.admin.user.action.DeleteUserAction" />			

	<bean name="/eh/admin/project/index" class="net.rrm.ehour.web.admin.project.action.ListProjectsAction" />

	<bean name="/eh/admin/project/addProjectForm" class="net.rrm.ehour.web.admin.project.action.GetProjectAction" />	

	<bean name="/eh/admin/project/getProject" class="net.rrm.ehour.web.admin.project.action.GetProjectAction" />		
	
	<bean name="/eh/admin/project/editProject" class="net.rrm.ehour.web.admin.project.action.EditProjectAction" />
	
	<bean name="/eh/admin/assignment/index" class="net.rrm.ehour.web.admin.user.action.ListUsersAction" />
	
	<bean name="/eh/admin/assignment/getAssignmentsForUser" class="net.rrm.ehour.web.admin.assignment.action.GetAssignmentAction" />
	
	<bean name="/eh/admin/assignment/getAssignment" class="net.rrm.ehour.web.admin.assignment.action.GetAssignmentAction" />
	
	<bean name="/eh/admin/assignment/editAssignment" class="net.rrm.ehour.web.admin.assignment.action.EditAssignmentAction" />

	<bean name="/eh/admin/assignment/deleteAssignment" class="net.rrm.ehour.web.admin.assignment.action.DeleteAssignmentAction" />	
	
	<!-- Configuration -->
	<bean id="abstractConfigAction"
			class="net.rrm.ehour.web.admin.config.action.BaseConfigAction"
			abstract="true">
		<property name="config" ref="ehourConfig" />
		<property name="configService" ref="configurationService" />
    </bean>	
	
	<bean name="/eh/admin/config/index"
			class="net.rrm.ehour.web.admin.config.action.ConfigAction"
			parent="abstractConfigAction" />
			
	<bean name="/eh/admin/config/updateLocales"
			class="net.rrm.ehour.web.admin.config.action.ConfigAction"
			parent="abstractConfigAction" />			
			
	<bean name="/eh/admin/config/saveConfig"
			class="net.rrm.ehour.web.admin.config.action.SaveConfigAction"
			parent="abstractConfigAction" />			
			
</beans>