<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"  
      xml:lang="en"  
      lang="en"> 

<wicket:head>
	<link rel="stylesheet" type="text/css" href="menu/css/jqueryslidemenu.css"></link>

<!--[if lte IE 7]>
<style type="text/css">
html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/
</style>
<![endif]-->

 	<script type="text/javascript" src="menu/js/jqueryMin.js"></script>
 	<script type="text/javascript" src="menu/js/jqueryslidemenu.js"></script>
</wicket:head>

<body>
	<wicket:panel>
		<div id="myslidemenu" class="jqueryslidemenu">
			<wicket:component wicket:id="slideMenu" />	
			<br style="clear: left" />
		</div>
	</wicket:panel>
</body>

</html>
