<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"  
      xml:lang="en"  
      lang="en"> 

<body>
	<wicket:panel>
		<ul wicket:id="ul">
			<li wicket:id="li">
				<wicket:component wicket:id="content" />

				<wicket:component wicket:id="submenuListContainer" /> 
			</li>
		</ul>
		
	<wicket:fragment wicket:id="link">
		<a wicket:id="menuLink"><wicket:component wicket:id="menuLinkText" /></a>
	</wicket:fragment>

	<wicket:fragment wicket:id="textOnly">
		<a href="#"><wicket:container wicket:id="menuText"></wicket:container></a>
	</wicket:fragment>
		
	</wicket:panel>
</body>

</html>