<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"  
      xml:lang="en"  
      lang="en">

<wicket:head>
    <script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
    <script type='text/javascript' src='js/jquery.dcmegamenu.1.3.3.min.js'></script>


    <script>
        jQuery(document).ready(function($) {
            jQuery('#mega-menu').dcMegaMenu({speed: 'fast', effect: 'slide', event: 'hover'});
        });
    </script>

</wicket:head>

<body>
	<wicket:panel>
		<div class="blue">
			<wicket:component wicket:id="slideMenu" />
			<br style="clear: left" />
		</div>
	</wicket:panel>
</body>

</html>
