body
{
	background: white;
	font: 0.8em/1.5 Geneva, Arial, Helvetica, sans-serif;
	color: black;
	margin: 0px;
}

div.NavHeader
{
	position: relative;
	background: url(img/headerBackground.gif) top left repeat-x;
	margin:	0;
	padding: 0;
	height: 52px;
}

div.NavHeader div.Logo
{
	float: left;
	position: absolute;
	left:	50px;
	bottom: 3px;
	padding: 0;
	margin: 0;
}

div.NavHeader div.Navigation
{
	position: absolute;
	bottom: 2px;
	left: 250px;
	font: 1.4em Geneva, Arial, Helvetica, sans-serif;
	color: white;
}

div.NavHeader div.Navigation a:link
{
	color: white;
	font-weight: normal;
	text-decoration: none;
}

div.NavHeader div.Navigation a:visited
{
	color: white;
	font-weight: normal;
	text-decoration: none;
}

div.NavHeader div.Navigation a:hover
{
	color: #ffb100;
	text-decoration: none;
}

div.NavHeader div.Navigation a:active
{
	color: #ef842d;
	text-decoration: none
}

div.NavHeader div.LoadingSpinner
{
	float: right;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

div.LoggedInAs
{
	text-align: right;
	padding-right: 7px;
	font: 0.8em Geneva, Arial, Helvetica, sans-serif;
	color: #536e87;
}	