<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="mailSession"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="jndiName"><value>java:comp/env/mail/Session</value></property> 
	</bean>
	
	

</beans>