div.Timesheet
{
	
}

div.TimesheetLabelRow
{

}

div.TimesheetLabelRow span.dayLabel
{
	float: left;
	font:  1.3em/1.3 Geneva, Arial, Helvetica, sans-serif;	
	color: #536e87;
	padding: 0 0 0 3px;
	margin: 0;
}