.project_users {

}

.project_users .header  {
    border-bottom: 1px solid #6c87a1;
    margin-bottom: 5px;
}

.project_users .active {
    width: 3em;
    float: left;
}

.project_users .name {
    width: 15em;
    float:left;
}


.project_users .date {
    width: 5em;
    float:left;
}

.project_users .hours {
    width: 5em;
    float:left;
}

.project_users .rate {
    width: 5em;
    float:left;
}


.project_users .row {
    clear: both;
}