.project_users .rows {
    max-height: 18em;
    overflow: auto;
}

.project_users .header  {
    border-bottom: 1px solid #6c87a1;
    margin-bottom: 5px;
}

.project_users .active {
    width: 3em;
    float: left;
}

.project_users .name {
    width: 15em;
    float:left;
}

.project_users .date {
    width: 6em;
    float:left;
}

.project_users .dateInput {
    width: 5em !important;
}


.project_users .rate {
    width: 4em;
    float:left;
}

.project_users .rateInput {
    width: 3em !important;
}

.project_users .buttons {
    width: 4em;
    float:left;
}

.project_users .scrollbar {
    width: 2em;
    float:left;
}

.project_users .row {
    clear: both;
}

.project_users .container:hover {
    background-color: #d1e5f9;
}

.project_users .clickable, .project_users .container:hover {
    cursor: pointer;
}

.project_users .validationError {
    clear: both;
    padding-right: 3em;
    text-align: right;
}

.assignedContainer {
    margin: 20px 0 15px 0;
}

.assignedContainer h4 {
    line-height: 16px;
    padding: 0;
    margin: 0;
    font: bold 1.0em Geneva, Arial, Helvetica, sans-serif;
    color: #536e87;
    border-bottom: 1px solid white;
}

.foldIcon {
    float: right;
    width: 10%;
    padding-right: 1.2em;
}

.filter {
    margin-bottom: 10px;
}


