a:link 
{
	color: #233e55;
	font-weight: normal;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

body
{
	background: white;
	font: 0.8em/1.5 Geneva, Arial, Helvetica, sans-serif;
	color: black;
	margin: 0px;
}

div.SidePanelLoc
{
	width: 243px;
	margin:	19px 0 0 5px;
	padding: 0;
	float:	left;
}

div.ContentPanelLoc
{
	margin:	0;
	padding: 0;
	float:	left;
}


div.GreyFrame
{
		text-align: left;
		//min-width: 500px;
		max-width: 780px;
		width:expression(document.body.clientWidth > 1000? "780px": "auto" );
		margin: 0;
		padding: 0;
		background-color: white;
}


div.GreyFrame h1
{
		text-align: left;
		font:  bold 1.0em Arial, Geneva, Helvetica, sans-serif;	
		color: #536e87;
		margin: 0 0 3px 16px;
		padding: 0;
}

div.GreyFrame div.ExportIcons
{
		float: right;
		padding-right: 16px;
}

div.GreyFrameContainer
{
		background: url(../img/grey_frame/corner_left_top.gif) top left no-repeat;
		max-width: 750px;
		width:expression(document.body.clientWidth > 1000? "750px": "auto" );
} 

div.GreyFrameContainer h3
{
		background: 	url(../img/grey_frame/corner_right_top.gif) top right no-repeat;
		line-height:	16px;
		padding:		0;
		margin:			0 0 0px 16px;
		font:  			bold 1.0em Geneva, Arial, Helvetica, sans-serif;	
		color: 			#536e87;
}

div.GreyFrameContainer div.GreyFrameBody
{
		background: url(../img/grey_frame/pixel_grey.gif);
		margin:0px;
		padding:0;
		clear: both;
}

div.GreyFrameContainer  div.GreyFrameBody p
{
		margin: 0 0 0 16px;
		padding: 0;
		font:  1.0em/0.9 Geneva, Arial, Helvetica, sans-serif;	
		color: #536e87;
}

div.GreyFrameContainer div.GreyFrameFooter
{
		background: url(../img/grey_frame/corner_left_bottom.gif) bottom left no-repeat;
}

div.GreyFrameContainer div.GreyFrameFooter p
{
		background: url(../img/grey_frame/corner_right_bottom.gif) bottom right no-repeat;
		padding:	0px;
		display:	block;
		margin: 	0;
		height: 16px;
}


div.GreyBlueFrame
{
	background: url(../img/bg_blue_grey/gradient_blue.gif) top left repeat-x;
	margin-left: 15px;
	margin-right: 15px;
}

div.GreyBlueFrameHorizontal
{
	background: url(../img/bg_blue_grey/gradient_blue_hor.gif) top left repeat-y;
	margin-left: 20px;
	margin-right: 20px;
}

div.GreyBlueLeftTop
{
	background: url(../img/bg_blue_grey/left_top.gif) top left no-repeat;
}

div.GreyBlueRightTop
{
  	background: url(../img/bg_blue_grey/right_top.gif) top right no-repeat;
	font:  bold 1.0em/1.5em Geneva, Arial, Helvetica, sans-serif;	
 	color: #536e87;
}

div.GreyBlueRightBottom
{
	background: url(../img/bg_blue_grey/right_bottom.gif) bottom right no-repeat;
}

div.GreyBlueLeftBottom
{
	background: url(../img/bg_blue_grey/left_bottom.gif) bottom left no-repeat;
}

div.GreyNavFrame
{
	background: url(../img/grey_frame/corner_left_top.gif) top left no-repeat;
	max-height: 500px;
  	width:		230px;
} 

div.GreyNavFrame h3
{
  background: 	url(../img/grey_frame/corner_right_top.gif) top right no-repeat;
  line-height:	11px;
  padding:		0;
  margin: 0;
  font: 		bold 1.1em/1.5 Geneva, Arial, Helvetica, sans-serif;
  color: #536e87;
  text-align: center;  
}

div.GreyNavBody
{
	background: url(../img/grey_frame/pixel_grey.gif);
  	margin-top: 0em;
  	padding:0;
	max-height: 300px;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
	color: #536e87;
	font: 0.75em/1.5 Geneva, Arial, Helvetica, sans-serif;
}

div.GreyNavBody a:link
{
	color: #536e87;
	font-weight: normal;
	text-decoration: none;
}

div.GreyNavBody a:visited
{
	color: #536e87;
	font-weight: normal;	
	text-decoration: none;
}

div.GreyNavBody a:hover
{
	color: #233e55;
	text-decoration: underline;
}

div.GreyNavBody a:active
{
	text-decoration: none
}


div.GreyNavFrameFooter
{
  background: url(../img/grey_frame/corner_left_bottom.gif) bottom left no-repeat;
}

div.GreyNavFrameFooter p
{
  background: url(../img/grey_frame/corner_right_bottom.gif) bottom right no-repeat;
  padding:20px;
  display:block;
  margin:-2em 0 0 0;
}

.submitButton
{
	background-color: transparent;
	margin: 0;
	padding: 0;
	font: bold 1em Geneva, Arial, Helvetica, sans-serif;
	color: white;
	border: 0;
}

.submitButton:hover
{
	background-color: transparent;
	margin: 0;
	padding: 0;
	font: bold 1em Geneva, Arial, Helvetica, sans-serif;
	color: #576d83;
}

div.Help
{
	padding: 20px 5px 0 5px;
	margin: 0;	
}

div.Help a:link
{
	font-weight: normal;
	text-decoration: underline;
}

div.Help a:visited
{
	font-weight: normal;	
	text-decoration: underline;
}

div.Help a:hover
{
	color: red;
	text-decoration: underline;
}

div.Help a:active
{
	color: red;
	text-decoration: underline;
}

.textInputSmall
{
	border-style: solid;
	border-width: 1px;
	border-color: #cfdbe6;
	margin: 0;
	font: 0.9em Geneva, Arial, Helvetica, sans-serif;
	color: #233e55;
	background-color: white;
}

li a:link
{
	text-decoration: none;
	font: 0.9em/1em Verdana, Geneva, Arial, Helvetica;
}

li a:visited
{
	text-decoration: none;
	font: 0.9em/1em Verdana, Geneva, Arial, Helvetica;
}

li a:hover
{
	text-decoration: underline;
	font: 0.9em/1em Verdana, Geneva, Arial, Helvetica;
	color: #233e55;
}

li a:active
{
	text-decoration: underline;
	font: 1em Verdana, Geneva, Arial, Helvetica;
}

div.listScroll
{
	height:	200px;
	margin: 0 5px 0 5px;
	overflow: auto;
	padding: 0px;
	width: 210px;
	font:  1em Geneva, Arial, Helvetica, sans-serif;
}

.contentTable
{
	padding: 0px;
	margin: 0 0 0 10px;
	spacing: 0px;
}

.contentTable TR
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.contentTable TH
{
	padding: 0px;
	margin: 0px;
	font:  bold 0.9em/1em Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #233e55;
}

.contentTable TD
{
	padding: 0px;
	margin: 0px;
	font:  1em Verdana Geneva, Arial, Helvetica, sans-serif;
	border: 0px;
	text-align: left;
	color: #3b556d;
}

.contentTable td.main
{
	color: #233e55;
}

.contentTable td.extra
{
	padding: 0 0 0 5px;
	margin: 0px;
	font:  1em Verdana Geneva, Arial, Helvetica, sans-serif;
	border: 0px;
	text-align: left;
	color: #86a1bc;
	border-bottom: 1px solid #6c87a1;
}

input
{
	border-style: solid;
	border-width: 1px;
	border-color: #b3c0cb;
	margin: 0;
	font: 1em Geneva, Arial, Helvetica, sans-serif;
	color: #233e55;
}