div.SidePanel
{
  background: url(img/gradient_blue.gif) top left repeat-x;
  width: 230px;
}

div.SidePanelFrameLeftTop
{
    background: url(img/left_top.gif) top left no-repeat;
}

div.SidePanelFrameRightTop
{
  background: url(img/right_top.gif) top right no-repeat;
  line-height: 10px;
}

div.SidePanelFrameRightBottom
{
	background: url(img/right_bottom.gif) bottom right no-repeat;
	height:	10px;
}

div.SidePanelFrameLeftBottom
{
	background: url(img/left_bottom.gif) bottom left no-repeat;
	height:	10px;
}

div.Calendar
{
	width:		216px;
	padding:	0 7px 0 7px;
	margin:		0;
}

div.Calendar div.CalendarHeader
{
	width:			100%;
	height:			1.1em;
	padding-bottom:	4px;
	background-color: #d1e5f9;
}


div.Calendar div.CalendarHeader div.PreviousMonth
{
	width:	30px;
	float:	left;
	height:	1.1em;
}

div.Calendar div.CalendarHeader div.CurrentMonth
{
	text-align: center;
	color: #536e87;
	width: 156px;
	line-height:			1.1em;
	height: 1.1em;
	font: bold 1em Arial, Geneva, Helvetica, sans-serif;	
	float: left;
}

div.Calendar div.CalendarHeader div.NextMonth
{
	width:	30px;
	float:	left;
	height: 1.1em;
	text-align: right;
}

div.Calendar div.CalendarBody div.CalendarWeek
{
	width: 100%;
	color: #536e87;
	font: 1em/1.5 Arial, Helvetica, sans-serif;
	margin-bottom: 1px;
	cursor: pointer;
}

div.Calendar div.CalendarBody div.WeekendDay
{
	float:	left;
	width: 30px;
	text-align: center;
	background-color: #edf5fe;
	height: 1.6em;
}
	
div.Calendar div.CalendarBody div.WeekDay
{
	float: left;
	width:	30px;
	text-align: center;
	background-color: #fefeff;
	height: 1.6em;
}